@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CeraPRO";
  src: url("/public/fonts/Fontspring-DEMO-cerapro-black.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-pale-mint {
  background-color: #aaf0d1;
}

.carousel {
  display: flex;
  overflow-x: auto;
}

.section {
  padding: 2rem;
  border-bottom: 1px solid #ccc;
}

.content {
  padding: 2rem;
}

.footer-bottom--in-footer {
  padding-top: 0;
}

.footer-bottom {
  position: relative;
  padding: 2rem 0;
  background: #f1f6f4;
}


.bg-light-pale-mint-grey {
  background-color: rgba(248, 250, 249, 1) !important;
}

/* Base styles */
.audio-hero-content__subheadline {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #042330;
  /* Note: This color value will override the one in #3a4649 */
  grid-column: auto/span 12;
  width: 100%;
  margin-bottom: 1.5rem;
}

.main-feature__headline {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #03314b;
  position: relative;
}

.main-feature__subheadline {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3a4649;
}

.rotating-headers__header {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  color: #03314b;
}

.figures__data {
  padding: 3rem 1rem;
  background: #f1f6f4;
}

.book-card-mini .book-card-mini__picture {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 100%;
}

.book-card-mini .book-card-mini__content {
  flex-grow: 1;
  width: 100%;
}

.book-card-mini .book-card-mini__headline {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #03314b;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.book-card-mini .book-card-mini__author {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.57;
  color: #6d787e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.book-card-mini .book-card-mini__subheadline {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.57;
  color: #042330;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.book-card-mini .book-card-mini__duration {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.57;
  color: #6d787e;
}

.book-card-mini .book-card-mini__image {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.pict--whitespace-fix {
  font-size: 0;
}

.figures__percentage {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  color: #03314b;
  margin-right: 1rem;
  color: #0365f2;
}

.figures__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3a4649;
  flex: 1 1;
}

.trial-duration-explanation__subheader {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  color: #3a4649;
  margin-bottom: 2rem;
  font-weight: normal;
}

.trial-duration-explanation__books-and-podcasts {
  display: inline;
  background: linear-gradient(180deg, transparent 65%, #fedc86 65%);
  font-weight: bold;
}

.trial-message__inner {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.app-reviews__user-reviews {
  grid-column: auto / span 12;
  width: 100%;
}

.category-explorer__category-selector {
  margin-bottom: 3rem;
}

.category-selector__chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.category-selector__chip {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.sprite-vue--category,
.sprite-vue--app {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.sprite-vue {
  fill: currentColor;
}

.text-midnight {
  --tw-text-opacity: 1 !important;
  color: rgb(3 49 75 / var(--tw-text-opacity)) !important;
}

.book-card-mini--linked {
  cursor: pointer;
}

.book-card-mini {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

a:hover {
  color: #116be9;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
}

.book-card-mini .book-card-mini__figure {
  position: relative;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 0.25rem;
}

figure {
  margin: 0;
}

.book-card-mini .book-card-mini__figure {
  position: relative;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 0.25rem;
}

figure {
  margin: 0;
}

.category-book-slider__headline mark {
  display: block;
  color: #0365f2;
}

mark {
  color: inherit;
  background: none;
}

.subheadline {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #03314b;
}



.figures__more-info {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.57;
  color: #6d787e;
  padding: 1rem;
  text-align: right;
}

.category {
  visibility: hidden;
}


.containerTop {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
}

.category-explorer__view-categories {
  display: block;
  margin-bottom: 3rem;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  padding-top: 2rem;
}

.footer__logo {
  margin-bottom: 1.5rem;
}

.footer__body {
  grid-column: auto/span 12;
  width: 100%;
  margin-bottom: 1.5rem;
}


.footer__headline {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.33;
  color: #0365f2;
}

.footer__badges {
  grid-column: auto/span 12;
  width: 100%;
}

.footer__links {
  grid-column: auto/span 12;
  width: 100%;
}

.footer-links__list {
  display: flex;
  flex-direction: column;
}

.footer-links__list-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.footer-links__link {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.57;
  color: #6d787e;
}

.footer-links__headline {
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.43;
  color: #03314b;
  margin: 0 0 0.5rem;
}

.footer-links__part {
  grid-column: auto/span 12;
  width: 100%;
  margin-bottom: 1.5rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 1rem;
}

.footer-links__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom__headline-and-mobile-badges {
  display: none;
  order: 2;
}

.footer-bottom__headline {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.33;
  color: #0365f2;
}

.footer-bottom__badges {
  margin-bottom: 1.5rem;
}

.footer-legal {
  display: flex;
}

.footer-socials {
  display: flex;
}

.footer-legal__item:not(:last-child) {
  margin-right: 1rem;
}

.footer-legal__item:not(:first-child):before {
  content: "|";
  margin-right: 1rem;
}

.footer-socials__item:not(:last-child) {
  margin-right: 0.5rem;
}

.footer-legal__item,
.footer-legal__link {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.57;
  color: #6d787e;
}

.footer-legal__item {
  display: flex;
}

.audio-hero {
  overflow: hidden
}


.main-features__container {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
}


.audio-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  grid-column-gap: 1rem;
}

.audio-hero__content {
  grid-area: 1/1/1/13;
}


.audio-hero__image {
  margin-bottom: 2.8125rem;
  grid-area: 2/1/2/13;
}

.audio-hero-image {
  position: relative;
  display: grid;
  text-align: center;
  background: url("https://www.blinkist.com/packs/static/audio-hero/i…s/background_wave_mobile-33185226d3f6732ad2ee.svg") no-repeat top right;
  background-size: cover;
}



.audio-hero-content__headline--h2-mobile {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #03314b;
}

.audio-hero-content__headline {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  color: #03314b;
  grid-column: auto/span 12;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.audio-hero-content__subheadline {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3a4649;
  grid-column: auto/span 12;
  width: 100%;
  margin-bottom: 1.5rem;
  color: #042330;
}

.audio-hero-content__headline--h2-mobile {
  font-size: 3rem;
}

.audio-hero-content__headline {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  color: #03314b;
  grid-column: auto/span 12;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.button--block {
  min-width: 18.5rem;
}

.button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  color: #03314b;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.6875rem 5rem 0.8125rem;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  background-color: #2ce080;
  border: #2ce080 0.125rem solid;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: #03314b;
  background-color: #20ba68;
  border-color: #20ba68;
}


.audio-hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 0;
  display: block;
  width: 23.5vw;
  height: 100%;
  background-color: #0365f2;
}

.message {
  position: relative;
  padding: 1rem;
  background-color: #f1f6f4;
  border-radius: 0.25rem;
}

.message--background-blue {
  background-color: #d7e9ff;
}

.trial-message__description {
  margin-right: 15px;
}

.trial-message__description {
  flex: 1;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  animation: slideDown 0.5s ease-in-out;
  /* 添加过渡效果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stickyMiss {
  animation: slideUp 0.5s ease-in-out;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@media (min-width:416px) {
  .containerTop {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .audio-grid[data-v-cd2edb12] {
    grid-column-gap: 1.5rem;
  }

  .main-features__container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .footer-bottom__container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .footer-links__grid {
    grid-column-gap: 1.5rem;
  }

  .footer__container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .footer__grid {
    grid-column-gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .audio-hero-content__headline {
    margin-bottom: 1.5rem;
    grid-area: 1/1/1/13;
  }

  .audio-hero-content__subheadline {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    color: #3a4649;
    max-width: 25rem;
    margin-bottom: 2rem;
    grid-area: 2/1/2/12;
  }


  .audio-hero-content__headline--h2-mobile {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    color: #03314b;
  }

  .audio-hero__image {
    grid-area: 1/4/1/13;
  }

  .audio-hero-content__headline {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    color: #03314b;
  }

  .audio-hero-image {
    text-align: right;
    background-image: url("https://www.blinkist.com/packs/static/audio-hero/images/background_wave-26d0b572705a4ff36afa.svg");
    background-position: bottom right;
    background-size: contain;
  }

  .audio-hero__content {
    margin-bottom: 0;
    padding: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-area: 1/1/1/8;
  }

  .audio-grid {
    grid-column-gap: 1.5rem;
  }

  .footer-links__grid {
    grid-column-gap: 1.5rem;
  }

  .footer__links {
    grid-column: auto/span 7;
    width: 100%;
  }

  .footer__headline {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.33;
    color: #0365f2;
  }

  .footer-bottom__headline {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.33;
    color: #0365f2;
  }

  .footer__body {
    grid-column: auto/span 5;
    width: 100%;
  }

  .footer__grid {
    grid-column-gap: 1.5rem;
  }

  .subheadline--size-medium {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    color: #03314b;
  }

  .category-book-slider__headline mark {
    display: inline-block;
  }

  .line-divider {
    width: 100%;
  }


  .line-divider__line--light-grey {
    background: #bac8ce;
  }

  .line-divider__line {
    height: 1px;
  }

  .category-selector__chip {
    display: inline-flex;
    align-items: center;
    width: auto;
  }

  .category-selector__chips {
    display: inline-flex;
  }


  .category-explorer__category-selector {
    margin-bottom: 4rem;
  }

  .app-reviews__user-reviews {
    grid-column: auto / span 8;
    width: 100%;
    grid-column-start: 3;
  }

  .trial-message__inner {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  .trial-duration-explanation__subheader {
    text-align: center;
  }

  .audio-hero-content__subheadline {
    font-size: 1.25rem;
    line-height: 1.4;
    color: #3a4649;
    margin-bottom: 2rem;
    grid-area: 2/1/2/12;
  }

  .rotating-headers__header {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.33;
    color: #03314b;
  }

  .main-features__headline {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    color: #03314b;
  }

  .main-feature__headline {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.33;
    color: #03314b;
  }

  .main-feature__subheadline {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    color: #3a4649;
  }

  .figures__data {
    padding: 3rem 2rem;
  }

  .figures__text {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    color: #3a4649;
  }
}


@media (min-width: 1024px) {
  .audio-hero-content__headline {
    margin-top: 4rem;
    font-size: 3rem;
  }

  .audio-hero__image {
    grid-area: 1/4/1/13;
  }

  .audio-hero__content {
    padding: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-area: 1/1/1/9;
  }

  .audio-hero-image {
    background-image: url("https://www.blinkist.com/packs/static/audio-hero/images/background_wave-26d0b572705a4ff36afa.svg");
  }

  .audio-grid {
    grid-column-gap: 2rem;
  }

  .main-features__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .footer-bottom__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .footer-links__part:first-child {
    grid-column: auto/span 3;
    width: 100%;
  }

  .footer-links__part:not(:first-child) {
    grid-column: auto/span 2;
    width: 100%;
  }

  .footer-badges__item {
    display: block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    line-height: 0;
  }

  .footer-links__grid {
    grid-column-gap: 2rem;
  }

  .footer__grid {
    grid-column-gap: 2rem;
  }

  .footer__badges {
    grid-column: auto/span 12;
    width: 100%;
  }

  .footer-badges {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }

  .footer__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .containerTop {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .category {
    visibility: visible;
  }

  .audio-hero-content__subheadline {
    margin-bottom: 2rem;
    grid-area: 2/1/2/8;
  }
}